@import './shared.module';

.container {
  @include container;
  background: $background-light;
}

.title {
  @include h1;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  @media (min-width: 768px) {
    min-width: 400px;
  }
}

.input {
  @include input;
}

.button {
  @include button;
}