@import "./shared.module";

.container {
  @include container;
  background: $background-light;
}

.title {
  @include h1;
}

.table {
  background: white;
  padding: 8px;
  width: 80%;
  border-radius: 8px;
  max-width: 768px;
  margin: 0 auto;
}

.table-head-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: $background-light;
  padding: 15px 0;
  border-radius: 8px 8px 0 0;
  color: $font-primary;
}

.table-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 10px;
}

.table-head-title {
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

.table-head-title-active {
  cursor: pointer;
  color: $primary;
}

.poll {
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  @include h4;
}

.name {
  @include h3;
  color: $active;
}

.option {
  display: inline;
}

.divider {
  display: inline;
  margin: 0 15px;
  font-weight: 700;
}

.link {
  display: block;
  margin: 10px 0 0px;
  text-decoration: none;
  color: $primary;

  &:hover {
    color: $hover;
  }
}