@import './shared.module';

.container {
  @include container;
  background: $background-light;
}

.title {
  @include h1;
}

.card {
  margin: 20px 20px;
  padding: 4px 16px;
  border-radius: 8px;
  background: white;
  position: relative;

  @media (min-width: 768px) {
    min-width: 400px;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 10px;
    content: '';
    width: 30px;
    height: 35px;
    background: $active;
  }

  &::after {
    position: absolute;
    top: 25px;
    right: 10px;
    content: '';
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid white;
  }
}

.userName {
  @include h2;
}

.ranking {
  position: absolute;
  top: 3px;
  right: 21px;
  font-size: 14px;
}