@import "./shared.module";

.container {
  @include container;
  background: $background-light;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  @media (min-width: 768px) {
    min-width: 400px;
  }
}

.input {
  @include input;
  cursor: pointer;
}

.button {
  @include button;
}

.error {
  margin: 10px 0;
  color: $error;
}