@import './shared.module';

.container {
  @include container;
  background: $background-light;
}

.title {
  @include h1;
  margin-left: 25px;
}

.list {
  padding: 0;
}

.votes {
  color: $primary;
}

.userData {
  display: flex;
  min-width: 250px;
}

.userImage {
  height: 40px;
  width: auto;
  margin: 0 10px 0 0;
}

.userName {
  width: 100%;
}

.button {
  @include button;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.option {
  position: relative;
}

.yourVote {
  padding: 5px;
  margin: 0;
  font-size: 12px;
  background: $highlight;
  position: relative;
  text-align: center;
  min-width: 100px;

  &:before {
    position: absolute;
    top: -2px;
    left: 0px;
    content: '';
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid $background-light;
  }

  &:after {
    position: absolute;
    top: -2px;
    right: 0px;
    content: '';
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid $background-light;
  }
}
